<h1>Inbox</h1>

<% if @conversations.empty? %>
  <h4>Your inbox is empty</h4>
<% else %>
  <% @conversations.each do |conversation| %>
    <div>
      <%= link_to conversation.subject, conversation_path(conversation) %>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/footer' %>
