<h1>Search Listings</h1>

<%= form_tag home_search_results_path, :method => "get" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary'  %>
  </p>
<% end %>
