/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/**** Variables ****/

$text-color: #161616;
$accent-color: #B32117;
$white: #EAEAEA;


/***** General *****/

body {
  text-align: center;
  color: $text-color;
}

h1.margin-bottom {
  margin-bottom: 15px; 
}

a:hover {
  color: $accent-color;
  background-color: transparent;
}

a.btn,
.btn-primary {
  background-color: $accent-color;
  border-color: $accent-color;
  color: $white;
}

/*** Footer ***/

footer {
  margin-top: 50px;
}

/***** Listing Views *****/

div.map {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

th {
  text-align: center;
}
